.navbar{
    height: 75px;
    background-color:black; 
    display: flex;
    justify-content: center;
    positon: relative;
}
.navContainer{
    width:100%;
    /* max-width: 1024px; */
    /* background-color: blueviolet; */
    color:red;
    display: flex;
    justify-content:space-between

}
.logo{
    front-weight:500;
}

.navButton{
    margin-left: 35px;
    color: red;
    border-radius: 15px;
    padding: 10px 20px;
    /* cursor: pointer; */
    font-weight:bolder;

}

/* .search{
    height: 30px;
    margin-top: 37px;
    padding: 10px 20px;
    color: red;
     background-color: black; 
      border: 5px sold black;  
     border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
     bottom:-5px; 
    width: 100%;
    max-width: 1024px;
} */
